.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 150px;
    flex-wrap: wrap;
    background-color:#ffffff;
    font-family: montserrat;
    margin-bottom: 40px;
    /* border-bottom: solid;
    border-width: 2px; */
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .nav-container {
        padding: 0px 40px;
    }
}

.website-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    
}

.website-name:hover, .website-name:active, .website-link:hover, .website-link:active {
    text-decoration: none;
    color: #000;
} 

.link-container {
    margin-right: 10px;
}

.website-link {
    padding: 10px;
    font-size: 20px;
    color: #000;
}